.slider {
    min-width: 374px;
    position: relative;
    z-index: 111;
    justify-content: center;
    height: 601px;
    height: 777px;
    display: flex;
    align-items: center;
    background-color: #F7F7F7;
    border: 1px solid #EAEAEA;


    .left-vector {
        position: absolute;
        left: 0;
    }

    .right-vector {
        position: absolute;
        right: 0;
    }
    .img-women {
        width: 100%;
        
        display: flex;
        justify-content: center;
        align-items: center;    
    }

    .img__women {
        width: 30%;
    }
}
